option_settings:
  - option_name: RDS_DB_NAME
    value: please_set_rds_db_name
  - option_name: RDS_USERNAME
    value: please_set_rds_username
  - option_name: RDS_PASSWORD
    value: please_set_rds_password
  - option_name: RDS_HOSTNAME
    value: please_set_rds_hostname
  - option_name: RDS_PORT
    value: please_set_rds_port
  - option_name: ENVIRONMENT
    value: please_set_environment